
  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    background-color: #dab0f05e;
    border-radius: 20px;
  }
  
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="text"]{
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .form .btnn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: none;
    background-color: #a0a0ff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .form .btnn :hover,
  .form .btnn :active,
  .form .btnn :focus {
    background-color:  rgb(188, 188, 254);
  }
  
  .form h2 {
    color: #333333;
    font-size: 28px;
    margin: 0 0 30px;
  }
  
  .form p.message {
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .form p.message a {
    color:  rgb(110, 110, 253);
    text-decoration: none;
  }
  
  .form p.message a:hover {
    text-decoration: underline;
  }